.main-footer {
  height: 30px;
  background-color: #fff;
  border-top: 1px solid #ECECEC;

.my-logo {
  display: inline-block;
  width: 50px;
  height: auto;
  max-width: 50px;

}
  .footer-h6 {
    display: block;
    text-align: center;
    margin-top: -50px;

  }

}
