
html,
body {
  height: $header-height;
  width: $full-width;
}

body {
}

.container-1200 {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: $header-height;
  background-color: fff;

}

.row {
  margin-left: -1em;
  margin-right: -1em;
  @include cf;
}

[class^="col-"] {
  width: 100%;
  float: left;
  min-height: 1px;
  padding: 0 1em;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @media screen and (min-width: 600px){
      width: (100% / 12) * $i;
    }
  }
}
