.container {
  width: 960px;
  margin: 0 auto;
  background: white;
  * {
    box-sizing: border-box;
  }
}
.row {
  @include cf;
  margin-left: -1em;
  margin-right: -1em;
}
[class^='col-'] {
  float: left;
  min-height: 1px;
  padding: 0 1em;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: 100% / $i;
  }
}
