// Variables
$gutter: 1em;

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  * {
    box-sizing: border-box;
  }
}

.row {
  @include cf;
  margin-left: -$gutter;
  margin-right: -$gutter;
}

[class^='col-'] {
  float: left;
  min-height: 80px;
  padding: 0 $gutter;
  > div {
    text-align: center;
  background-color: #ccc;
  min-height: 50px;
  }

}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: $i / 12 * 100%;
  }
}

body {
  background-color: #fff;
}

.grid-example {
  padding: $section-padding;
}
