
html,
body {
  height: $full-height;
  width: $full-width;
}


.container-1200 {
  width: $full-width;
  max-width: 960px;
  margin: 0 auto;
  background-color: fff;

/*
  @media #{$medium-screen}{
  width: 20%;
  }

  @media #{$large-screen}{
    border: 1px solid blue;
  width: 60%;
  }

  @media #{$xlarge-screen}{
      border: 1px solid green;
  width: 100%;
  }
  */
}

.row {
  @include cf;
  margin-left: -1em;
  margin-right: -1em;
}

[class^="col-"] {
  width: 100%;
  float: left;
  min-height: 1px;
  padding: 0 1em 1em 1em;
}

.columnstyle {
text-align: center;
border: 1px solid #9BF8CD;
height: 50px;
  }

@for $i from 1 through 12 {
  .col-#{$i} {
    @media screen and (min-width: 600px){
      width: (100% / 12) * $i;
    }
  }
}
