
html,
body {
  height: $full-height;
  width: $full-width;
}

.container-1200 {
  width: $full-width;
  max-width: 1200px;
  margin: 0 auto;
  background-color: fff;
  border: 1px solid red;

  @media #{$medium-screen}{
  width: 20%;
  border: 1px solid red;
  }

  @media #{$large-screen}{
    border: 1px solid blue;
  width: 60%;
  }

  @media #{$xlarge-screen}{
      border: 1px solid green;
  width: 100%;
  }
}

.row {
  width: 100%;
  @include cf;

}

[class^="col-"] {
  width: 100%;
  float: left;
  min-height: 1px;
  padding: 0 1em .5em 1em;
  border: 1px solid

}
[class^="col-"] {

  >div {
text-align: center;
background-color: #F0F0F0;
height: 50px;
}
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @media screen and (min-width: 600px){
      width: (100% / 12) * $i;
    }
  }
}
