.main-header {
  width: $full-width;
  @include cf;
  background-color: #fff;

  .logo {
    height: $header-height;
    width: $header-width;
    text-align: center;
    background-color: #fff;
  }
}
