/* Typography */

html {
  font-size: $base-font;
}

body{
  // Shorthand
  // font: normal normal 300 #{type-scale(0)} $sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  font-size: type-scale(0);
  line-height: $line-height;
  font-family: $sans-serif;
  color: #333;

  @media screen and (min-width: 600px){
    font-size: type-scale(1);
  }
}

/**
 * @section Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: $serif;
  font-weight: 400;
}

h1 {
  font-size: type-scale(3);
}

h2 {
  font-size: type-scale(2);
}

h3 {
  font-size: type-scale(1);
}

h4 {
  font-size: type-scale(0);
}

h5 {
  font-size: type-scale(0);
}

h6 {
  font-size: type-scale(0);
}

p {
  font-size: $base-font;
  text-align: justify;
  margin: 0 auto;
  @media screen and (max-width: 600px){
    margin: 2em 4em;
  }
}
