@mixin cf {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

$base-font: 16px;
$line-height: 1.5;
$serif: 'Merriweather', serif;
$sans-serif: 'Raleway', sans-serif;
$section-padding: 6em 0;
