.grid-ex {
	.row {
		margin-bottom: 1em;
	}

	[class^='col-'] {
		min-height: 3em;
		text-align: center;
		background-color: #786e6e;
		padding: 0 1em 0.75em 0;
	}
}

.form-example {
	form {
	  margin: 2em auto 0;
	  padding: 0 1em;

	  input,
	  textarea{
		margin: 0 0 0.5em;
	  }
	}
}
.text-ex p {
	margin-top: 2em;
}
ul {
	margin: 2em auto;
}

h2.topic {
	margin: 3em 0 2em 0;
	color: white;
	letter-spacing: 0.0625em; }
