/* BASE CSS from Chris Gargiulo*/
/* -------------------- */
/* TABLE OF CONTENTS
    1. BASE CSS
        - RESET
        - HTML5
        - BASE TYPOGRAPHY
            - HEADINGS
            - PARAGRAPHS
            - LINKS
            - LISTS
        - IMAGES
        - CLEARFIX
    2. SITE SPECIFIC CSS
        - LAYOUT
        - MEDIA QUERIES
        - @FONTFACE
*/
/* -------------------- */


//BASE TYPOGRAPHY

h1.sans-mont {
  font-family: $sans-serif-2;
  font-weight: 400;
  text-align: center;
}

h2.sans-mont {
  font-family: $sans-serif-2;
  font-weight: 700;
  text-align: center;
  margin-bottom: -30px;
}

h3.sans-mont {
  font-family: $sans-serif-2;
  font-weight: 400;
  text-align: center;
  padding-bottom: 3em;
}
h {
  font-family: $sans-serif;
  font-weight: 300;
  text-align: center;
}
h5.sans-mont {
  font-family: $sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
h {
  font-family: $sans-serif;
  font-weight: 300;
  text-align: center;
}

//section01

.hero-h5 {
  padding-top: 8em;
}

.hero-h2 {
  font-weight: 200;
  padding-bottom: 1em;
}

//section02
//section03


//section04



//section05
//section06

//all section
.section01,
.section02,
.section03,
.section04,
.section05,
.section06,
.section07,
.section08 {
  margin-bottom: 8em;
}

.section08 {
  margin-bottom: 3em;
}

.prettyprint {
    background: #fff;
    font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
    font-size: 1.2rem;
    padding: 2.5rem 3rem;
    -webkit-font-smoothing: antialiased;
}

.code-example-body {
    white-space: pre;
    word-wrap: break-word;
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}
