/* BASE CSS from Chris Gargiulo*/
/* -------------------- */
/* TABLE OF CONTENTS
    1. BASE CSS
        - RESET
        - HTML5
        - BASE TYPOGRAPHY
            - HEADINGS
            - PARAGRAPHS
            - LINKS
            - LISTS
        - IMAGES
        - CLEARFIX
    2. SITE SPECIFIC CSS
        - LAYOUT
        - MEDIA QUERIES
        - @FONTFACE
*/
/* -------------------- */


//BASE TYPOGRAPHY

h1.sans-mont {
  font-family: $sans-serif-2;
  font-weight: 400;
  text-align: center;
}

h2.sans-mont {
  font-family: $sans-serif-2;
  font-weight: 700;
  text-align: center;
  margin-bottom: -30px;
}

h3.sans-mont {
  font-family: $sans-serif-2;
  font-weight: 400;
  text-align: center;
  padding-bottom: 3em;
}
h {
  font-family: $sans-serif;
  font-weight: 300;
  text-align: center;
}
h5.sans-mont {
  font-family: $sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
h {
  font-family: $sans-serif;
  font-weight: 300;
  text-align: center;
}

//section01

.hero-h5 {
  padding-top: 8em;
}

.hero-h2 {
  font-weight: 200;
  padding-bottom: 1em;
}

//section02
//section03


//section04



//section05
//section06

//all section
.section01,
.section02,
.section03,
.section04,
.section05,
.section06 {
  margin-bottom: 10em;
}

/*
.container-full {
background: -moz-linear-gradient(top, #42bbff 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #42bbff), color-stop(100%, #ffffff));
background: -webkit-linear-gradient(top, #42bbff 0%, #ffffff 100%);
background: -o-linear-gradient(top, #42bbff 0%, #ffffff 100%);
background: -ms-linear-gradient(top, #42bbff 0%, #ffffff 100%);
background: linear-gradient(to bottom, #42bbff 0%, #ffffff 100%);
}
*/
