///*** HOME ***///

.info-grid {
	.row {
		margin-bottom: 1em;
	}

	[class^='col-'] {
		min-height: 3em;
		text-align: center;
		background-color: #cccccc;
		padding: 0.75em 0;
	}
}

.info-form {
	form {
	  margin: 2em auto 0;
	  padding: 0 1em;

	  input,
	  textarea{
		margin: 0 0 0.5em;
	  }
	}
}
