/* BASE CSS from Chris Gargiulo*/
/* -------------------- */
/* TABLE OF CONTENTS
    1. BASE CSS
        - RESET
        - HTML5
        - BASE TYPOGRAPHY
            - HEADINGS
            - PARAGRAPHS
            - LINKS
            - LISTS
        - IMAGES
        - CLEARFIX
    2. SITE SPECIFIC CSS
        - LAYOUT
        - MEDIA QUERIES
        - @FONTFACE
*/
/* -------------------- */


//BASE TYPOGRAPHY

h1.sans-mont {
  font-family: $sans-serif-2;
  font-weight: 400;
  text-align: center;
}

h2.sans-mont {
  font-family: $sans-serif-2;
  font-weight: 700;
  text-align: center;
  margin-bottom: -30px;
}

h3.sans-mont {
  font-family: $sans-serif-2;
  font-weight: 400;
  text-align: center;
  padding-bottom: 3em;
}

h4 {
  font-family: $sans-serif;
  font-weight: 300;
  text-align: center;
}
h5.sans-mont {
  font-family: $sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
h {
  font-family: $sans-serif;
  font-weight: 300;
  text-align: center;
}

//all section
.section01,
.section02,
.section03,
.section04,
.section05,
.section06,
.section07,
.section08 {
  margin-bottom: 8em;

}

.section03,
.section04,
.section05,
.section06,
.section07,
.section08 {
border-top: 1px solid #E0E0E0;
  padding-top: 80px;

}

.section08 {
  margin-bottom: 3em;
}

.prettyprint {
    font-size: 11px;
color: #898989;
border: 1px solid #000;
margin-bottom: 40px;
    white-space: nowrap;
    border-radius: 4px;
    text-align: left;
}

.code-example-body {
    white-space: pre;
    word-wrap: break-word;

}
.left {
  text-align: left;

}




//section01

.hero-h5 {
  padding-top: 8em;
}

.hero-h1 {
  font-weight: 200;
  padding-bottom: 1em;
}

//section02


    .svg-screen {
      display: block;
      width: 150px;
      height: 150px;
      margin: 0 auto 10px auto;
      border: 1px solid #E0E0E0;
      padding: 35px;
      border-radius: 50%;
    }

    .svg-sass {
      display: block;
      width: 150px;
      height: 150px;
      margin: 0 auto 10px auto;
      border: 1px solid #E0E0E0;
      padding: 40px;
      border-radius: 50%;

    }

    .svg-custom {
      display: block;
      width: 150px;
      height: 150px;
      margin: 0 auto 10px auto;
      border: 1px solid #E0E0E0;
      padding: 40px;
      border-radius: 50%;
    }


  .button-center {
    text-align: center;
    margin-top: 20px;
  }

  .button-top-pad {
      display: inline;
    border: 1px solid #56B1F5;
    padding: 5px 20px;
  }
  .button-3 {
    display: inline;
  margin: 30px auto;
  border: 1px solid #56B1F5;
  padding: 3px 25px;

  }
  .button-top {
    margin-top: 10px;
  }


//section03
.row-flex {
  display: flex;
  padding-bottom: 50px;
  align-self: flex-end;
  text-align:left;
}
.flex-column {
  align-self: baseline;
  padding-bottom: 0;

}

h1.left,
h3.left
 {
  text-align: left;
}
h1.left {
  font-size: 30px;
}


  h3.sans-mont {
    padding-bottom: 0em;
    font-weight: 700;
}

  .sub-h6 {
    text-transform: uppercase;
    padding-top: 12px;
    letter-spacing: 3px;
    color: #000;
    font-weight: 600;
    font-size: 12px;
  }



.sub3-padding {
  text-align: left;
}



//section04



  .first-h6{
    padding-top: 60px;
    width: 960px;
    margin: 0 auto;
  }
  .serif2 {
    h1, h2, h3, h4, h5, h6 {
      font-family: $sans-serif-2;
      }
  }


//section05

.row {
text-align: center;
}
//section06

.sec6-form{
text-align: left;
}

.form-form {
padding-bottom: 30px;
}

.button2 {
font-size: 11px;
font-weight: 300;
color: rgb(51, 51, 51);
padding: 4.5px 1.8em;
background-color: rgba(76, 130, 246, 0.0);
border: 1px solid #D9EDFF;
text-decoration: none;

&:hover {
  background-color: rgba(76, 130, 246, 0.0);

  text-decoration: none;
}

&:focus,
&:active {
  outline: none;
  appearance: none;

}
}
//section07
//section08
//back to top
.cd-top {
  display: inline-block;
  color: #000;
  font-size: 12px;
  font-weight: 300;
  padding: 10px 0 0 6px;
  background-color: rgba(243, 13, 84, 0.4);
  height: 40px;
  width: 80px;
  position: fixed;
  bottom: 60px;
  right: 80px;


  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
   -webkit-transition: opacity .3s 0s, visibility 0s .3s;
   -moz-transition: opacity .3s 0s, visibility 0s .3s;
   transition: opacity .3s 0s, visibility 0s .3s;
 }

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
