.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  appearance: none;
  background-color: transparent;
  border: 0 none;

  display: inline-block; // Make display properties consistent across the board
  text-decoration: none; // Remove underline for anchor buttons
  color: inherit;        // Inherit the default color (ie. black)
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  background-color: #DEDEDE;
  border-radius: 2px;
}
