html {
  font-size: $base-font;
}
body{
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  font-size: type-scale(0);
  line-height: $line-height;
  font-family: $sans-serif;
  color: #333;
  padding: 5em 0;

  header {
    padding: 8em 0;
  }

@media screen and (min-width: 600px){
    font-size: type-scale(1);
  }
}

.typography {
  padding: $section-padding;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #339999;
}

h1,
h2,
 {
  font-family: $sans-serif;
  font-weight: bold;
}


h3,
h4,
h5,
h6 {
  font-family: $serif;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: type-scale(4);
  text-align: center;
  text-transform: uppercase;
  color: #339999;
}

h2 {
  font-size: type-scale(3);
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: type-scale(2);
}

h4 {
  font-size: type-scale(1);
}

p {
  margin-bottom: 0 0 em-calc($base-font);
  text-align: center;
  padding: 0 6.5em 2em 6.5em;
}
