.grid {
	.row {
		margin-bottom: 0;
	}

	

	[class^='col-'] {
		min-height: 3em;
		text-align: center;
		background-color: #D0D0D0;
		padding: 0.75em 0;
		margin: .5em 0;
	}

	.paragraph{
	    margin-bottom: 2em;
	}
}

.form {
	form {
	  margin: 2em auto 0;
	  padding: 0 1em;

	  input,
	  textarea{
		margin: 0 0 0.5em;
	  }
	}
}
