.container {
	.grid-sec,
	.type-sec,
	.form-sec,
	.button-sec,
	.utilities-sec,
	.mediaqueries-sec{
		padding: 3em 0;
		border-top: 1px solid #E0E0E0;
	}



	.title {
		padding: 2em 0 3em 0;


		h1 {
			font-weight: 800;

			span1,
			span2 {
				letter-spacing: 20px;
				font-family: $sans-serif;
				font-weight: 400;
				padding-left: 1em;
				font-size: 24px;
				vertical-align: middle;
				@media screen and (max-width: 600px){
    				font-size: 12px;
    				letter-spacing: 10px;
  				}
			}

			span1 {
				margin-right: -.25em;

			}
		}

		p.credits {
			text-align: $center;
			font-size: 12px;
			margin-top: 1em;
			padding-left: 1em;

		}

		p.welcome {
			text-align: $center;
			font-size: $base-font;
			max-width: 700px;
			margin-top: 3em;
			@media screen and (min-width: 780px){
				margin: 0 auto;
			}
		}
	}
}
