.container {
	.grid-sec,
	.type-sec,
	.form-sec,
	.button-sec, 
	.utilities-sec,
	.mediaqueries-sec{
		padding: 2em 0;
	}



	.title {
		padding: 2em 0 3em 0;
		

		h1 {
			font-family: $sans-serif;
			font-weight: 700;

			span1,
			span2 {
				letter-spacing: 20px;
				font-family: $serif;
				font-weight: 100;
				padding-left: 1em;
				font-size: 24px;
				vertical-align: middle;
				@media screen and (max-width: 600px){
    				font-size: 12px;
    				letter-spacing: 10px;
  				}
			}

			span1 {
				margin-right: -.25em;

			}
		}

		p.credits {
			text-align: $center;
			font-size: 12px;
			margin-top: 1em;
			padding-left: 1em;

		}

		p.welcome {
			text-align: $center;
			font-size: $base-font;
			max-width: 700px;
			margin-top: 3em;

		}
	}
}




.form-sec {
	form {
	  margin: 2em auto 0;
	  padding: 0 1em;
	}

	  input,
	  textarea {
		margin: 0 0 0.5em;
	  }
}

.type-sec,
.form-sec,
.utilities-sec{
	background-color: #F0F0F0;
}
