form {
  width: 60%;

  input,
  textarea{
    display: block;
    width: 100%;
  }
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="checkbox"],
input[type="radio"],
textarea,
select {
  -webkit-appearance: none;
  appearance: none;

  &:focus,
  &:active {
    outline: 0;
  }
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1.2em;
  color: white;
  font-family: $serif;
  background: #786f6f;
}
input[type="checkbox"],
input[type="radio"] {
  width: 1em;
  height: 1em;
  border-radius: 100%;
  border: 1px solid white;
  display: inline-block;

  &:checked {
    background: white;
  }
}
input[type="checkbox"] {
  border-radius: 0;

  &:checked {
    position: relative;
    background: transparent;

    &::after {
      margin: 0;
      padding: 0;
      content: '\2713';
      display: block;
      color: white;
      position: absolute;
      top: -1px;
      left: 1px;
    }
  }
}
.radio-ex {
  margin: 1em 0;
}
.styled-select {
  overflow: hidden;
    select {
    margin: 1em;
    color: white;
    background: transparent;
    width: 300px;
    padding: 5px;
    font-size: .75em;
    line-height: 1;
    border-radius: 0;
  }
}

@media screen and (min-width: 600px){

}
