$medium: em-calc(640px, 16px);
$large: em-calc(1024px, 16px);
$xlarge: em-calc(1440px, 16px);

$small-screen:  'only screen';
$medium-screen: 'only screen and (min-width: #{$medium})';
$large-screen:  'only screen and (min-width: #{$large})';
$xlarge-screen: 'only screen and (min-width: #{$xlarge})';
