$small-screen:  'only screen and (min-width: 568px)';
$medium-screen: 'only screen and (min-width: 768px)';
$large-screen:  'only screen and (min-width: 1024px)';
$xlarge-screen: 'only screen and (min-width: 1440px)';
