html {
  font-size: $base-font;
}
body {
  margin-top: 10em;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  font-stretch: extra-expanded;
  font-size: type-scale(0);
  line-height: $line-height;
  font-family: $sans-serif4;
  color: #bcd8cd;
  background-color: #343232;
}
/* @section headings */
h1,
h2,
h3,
h4 {
  font-family: $sans-serif2;
  font-weight: 300;
  text-align: center;
}
h1 {
  font-size: type-scale(4);
}
h2 {
  font-size: type-scale(3);
}

h3 {
  font-size: type-scale(2);
}

h4 {
  font-size: type-scale(1);
  font-weight: 100;
}
/**
 * @section Inline
 */
p {
  margin-bottom: 0 0 em-calc($base-font);
  text-align: justify;
}
