html {
  font-size: $base-font;
}
body {
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  color: #bcd8cd;
  font-size: type-scale(0);
  line-height: $line-height;
  font-family: $sans-serif;
  background-color: #343232;
}
@media screen and (min-width: 600px) {
  font-size: type-scale(1);
}
/* @section headings */
h1,
h2,
h3,
h4 {
  font-family: $sans-serif2;
  font-weight: 500;
}
h1 {
  font-size: type-scale(4);
}
h2 {
  font-size: type-scale(3);
}

h3 {
  font-size: type-scale(2);
}

h4 {
  font-size: type-scale(1);
}

/**
 * @section Inline
 */
p {
  margin-bottom: 0 0 em-calc($base-font);
  text-align: justify;
}
