/*
 * Variables
 */

$base-font: 16px;
$line-height: 1.5;
$serif: 'Baskerville', Georgia, Palatino, serif;
$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;

/*
 * Mixins
 */

@mixin cf {
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}
