/* VARIABLES */
$base-font: 16px;
$line-height: 1.5;
$serif: 'Baskerville', Georgia, Palatino, serif;
$sans-serif: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,300);
