.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  appearance: none;
  background-color: transparent;
  border: 0 none;

  display: inline-block; // Make display properties consistent across the board
  text-decoration: none; // Remove underline for anchor buttons
  color: inherit;        // Inherit the default color (ie. black)
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  background-color: #343232;
  border-radius: 2px;

  &:hover {
    background-color: #CACACA;
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 0 1px 3px rgba(76, 130, 246, 0.5);
  }
}
// Links //
.wrapper{
  margin:7em 0;
  padding: 5em 2em;
}
.square {
  margin: 2em;
  padding: 1em;
}
a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#81b3d2;
	font-size:2.5em;
}

a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:#d73444;
}

.square{
  box-sizing:border-box;
  margin-left:-0.4em;
  position:relative;
  font-size:2.5em;
  overflow:hidden;
}
.square a{
  position:static;
  font-size:100%;
  padding:0.2em 0.4em;
}
.square:before,.square:after{
  content: "";
  box-sizing:border-box;
  transition:0.25s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
  width:5px;
  width:0.35rem;
  height:0;
  background:#d73444;
}
.square:before{
  left:0;
  bottom:-0.2em;
}

.square:after{
  right:0;
  top:-0.2em;
}

.square a:before{
  left:0;
  transition:0.25s all ease;
}
.square a:after{
  right:0;
  transition:0.25s all ease;
}

.square:hover:before,.square:hover:after{
  height:calc(100% + 0.4em);
}
.square:hover a:before,.square:hover a:after{
  width:100%;
}
