.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  appearance: none;
  background-color: transparent;
  border: 0 none;
  font-size: 11px;
  font-weight: 300;

  display: inline-block; // Make display properties consistent across the board
  text-decoration: none; // Remove underline for anchor buttons
  color: inherit;        // Inherit the default color (ie. black)
  padding: 0.7em 1.8em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  background-color: #DEDEDE;
  border-radius: 2px;

  &:hover {
    background-color: #CACACA;
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 0 1px 3px rgba(76, 130, 246, 0.5);
  }
}


.button {
  font-size: 11px;
  font-weight: 300;
  color: rgb(51, 51, 51);
  padding: 4.5px 1.8em;;
  background-color: rgba(76, 130, 246, 0.0);
  border-bottom: 1px solid #D9EDFF;
  &:hover {
    background-color: rgba(76, 130, 246, 0.0);
    border-bottom: 1px solid #56B1F5;
  }

  &:focus,
  &:active {
    outline: none;
    appearance: none;

  }
  }

button {
  background-color: #56B1F5;
}

input[type="button"] {
  background-color: #fff;
  border: 1px solid #56B1F5;
}

input[type="submit"] {
  background-color: #56B1F5;
  border-radius: 8px;

}
$height: 2.8em;
$width: 10em;
$button-color: #EE3769;

input[type="reset"] {
  text-decoration: none;
  cursor: pointer;
  border: 1px solid $button-color;
  border-radius: 8px;
  height:$height;
  width:$width;
  padding: 0;
  outline: none;
  overflow: hidden;
  color: $button-color;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 250%;

  &::before{

    content:'';
    border-radius: 50%;
    display: block;
    width: $width*2;
    height: $width*2;
    line-height: $width*2;
    left: -$width/2;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }

  &:hover{
    color: #fff;
    &::before{
    box-shadow:inset 0 0 0 $width rgba($button-color,1);
    }
  }
}
