$small-screen:  'only screen';
$medium-screen: 'only screen and (min-width: em-calc(640px, 16px))';
$large-screen:  'only screen and (min-width: em-calc(1024px, 16px))';
$xlarge-screen: 'only screen and (min-width: em-calc(1440px, 16px))';
