.section03 {



  h3.sans-mont {

    padding-bottom: 0em;
  }
  h6 {
    text-transform: uppercase;
    padding-top: 14px;
    letter-spacing: 3px;
    color: #9E9E9E;
    font-weight: 600;
    font-size: 12px;
  }
  .sub3-padding {
    padding-bottom: 7em;
  }
}
