.section02 {
  height: auto;
  [class^="col-"] {
    padding: 0 1em;
  }
}
  .svg-screen {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 10px auto;
    border: 1px solid #E0E0E0;
    padding: 35px;
    border-radius: 50%;
  }

  .svg-sass {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 10px auto;
    border: 1px solid #E0E0E0;
    padding: 40px;
    border-radius: 50%;

  }

  .svg-custom {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 10px auto;
    border: 1px solid #E0E0E0;
    padding: 40px;
    border-radius: 50%;
  }


.button-center {
  text-align: center;
  margin-top: 20px;
}

.button-top-pad {
    display: inline;
  border: 1px solid #56B1F5;
  padding: 5px 20px;
}
.button-3 {
  display: inline;
margin: 30px auto;
border: 1px solid #56B1F5;
padding: 3px 25px;

}
.button-top {
  margin-top: 10px;
}
