.section06 {
  height: auto;

  .sec6-form{
  text-align: left;
  }
.form-form {
  padding-bottom: 30px;
}

.button2 {
  font-size: 11px;
  font-weight: 300;
  color: rgb(51, 51, 51);
  padding: 4.5px 1.8em;
  background-color: rgba(76, 130, 246, 0.0);
  border: 1px solid #D9EDFF;
  text-decoration: none;

  &:hover {
    background-color: rgba(76, 130, 246, 0.0);

    text-decoration: none;
  }

  &:focus,
  &:active {
    outline: none;
    appearance: none;

  }
  }

//back to top
.cd-top {
  display: inline-block;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 0 0 6px;
  border: 2px solid #D9EDFF;
  height: 40px;
  width: 80px;
  position: fixed;
  bottom: 60px;
  right: 80px;


  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
   -webkit-transition: opacity .3s 0s, visibility 0s .3s;
   -moz-transition: opacity .3s 0s, visibility 0s .3s;
   transition: opacity .3s 0s, visibility 0s .3s;
 }

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

}
