.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

}

.row {
  margin-bottom: 1em;
  @include cf;
}

[class^="col-"] {
    float: left;
    margin-left: 2%;
    background: green;
}

[class^="col-"]:first-child {
  margin-left: 0;
}

.col-1{
    width: 100%;
    margin: 0;
}

.col-2 {
    width: 49%;
}

.col-3 {
    width: 32%;
}

.col-4 {
    width: 23.5%;
}

.col-5 {
    width: 10.75%;
}

.col-6 {
    width: 36.25%;
}
