/*
 * Base
 */
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:600,300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
 * Mixins
 */
/**
 * @section Functions
 */
/**
 * rem/em Calculator
 *
 * target / context = result
 * @param {$target}  Target size in pixels (ie. 32px)
 * @param {$context} Font size providing context for proportion, defaults to $base-font)
 * @param {$unit} unit for rem/em output, defaults to 'em'
 */
/**
 * Exponent Calculator
 *
 * https://gist.github.com/scottkellum/1160816
 * @param {$base} base number
 * @param {$exponent} exponent/power number
 */
/**
 * Type Scale Calculator
 *
 * Create typographic scales
 * @param {$i} increment of scale; 0 is base
 * @param {$scale} scale ratio; defaults to 1.25
 */
html {
  font-size: 16px;
}

body {
  margin-top: 10em;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  font-stretch: extra-expanded;
  font-size: 1em;
  line-height: 1.5;
  font-family: "Oxygen", sans-serif;
  color: #bcd8cd;
  background-color: #343232;
}

/* @section headings */
h1,
h2,
h3,
h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: 5.0625em;
}

h2 {
  font-size: 3.375em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.5em;
  font-weight: 300;
}

/**
 * @section Inline
 */
p {
  margin-bottom: 0 0 1em;
  text-align: justify;
}

form {
  width: 100%;
}

form input,
form textarea {
  display: block;
  width: 100%;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="checkbox"],
input[type="radio"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

input[type="email"]:focus,
input[type="email"]:active,
input[type="number"]:focus,
input[type="number"]:active,
input[type="search"]:focus,
input[type="search"]:active,
input[type="text"]:focus,
input[type="text"]:active,
input[type="tel"]:focus,
input[type="tel"]:active,
input[type="url"]:focus,
input[type="url"]:active,
input[type="password"]:focus,
input[type="password"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
textarea:focus,
textarea:active,
select:focus,
select:active {
  outline: 0;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  margin: 5px 0;
  padding: 10px;
  border: none;
  font-size: 1.2em;
  color: white;
  font-family: "Josefin Slab", serif;
  background: #786f6f;
}

input[type="checkbox"],
input[type="radio"] {
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  border: 1px solid white;
  display: inline-block;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: white;
}

input[type="checkbox"] {
  border-radius: 0;
}

input[type="checkbox"]:checked {
  position: relative;
  background: transparent;
}

input[type="checkbox"]:checked::after {
  margin: 0;
  padding: 0;
  content: '\2713';
  display: block;
  color: white;
  position: absolute;
  top: -1px;
  left: 1px;
}

.radio-ex {
  margin: 1em 0;
}

.styled-select {
  overflow: hidden;
}

.styled-select select {
  margin: 1em;
  color: white;
  background: transparent;
  width: 300px;
  padding: 5px;
  font-size: .75em;
  line-height: 1;
  border-radius: 0;
}

/*
 * Layout
 */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.row {
  margin-left: -1em;
  margin-right: -1em;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

[class^="col-"] {
  width: 100%;
  float: left;
  min-height: 80px;
  padding: 1em;
}

[class^="col-"] > div {
  text-align: center;
  background-color: #339999;
  min-height: 50px;
  border-radius: .35em;
}

[class^='col-'] > div {
  text-align: center;
  background-color: #339999;
  min-height: 50px;
  color: #fff;
  padding-top: 1em;
  border-radius: .35em;
}

@media screen and (min-width: 600px) {
  .col-1 {
    width: 8.33333%;
  }
}

@media screen and (min-width: 600px) {
  .col-2 {
    width: 16.66667%;
  }
}

@media screen and (min-width: 600px) {
  .col-3 {
    width: 25%;
  }
}

@media screen and (min-width: 600px) {
  .col-4 {
    width: 33.33333%;
  }
}

@media screen and (min-width: 600px) {
  .col-5 {
    width: 41.66667%;
  }
}

@media screen and (min-width: 600px) {
  .col-6 {
    width: 50%;
  }
}

@media screen and (min-width: 600px) {
  .col-7 {
    width: 58.33333%;
  }
}

@media screen and (min-width: 600px) {
  .col-8 {
    width: 66.66667%;
  }
}

@media screen and (min-width: 600px) {
  .col-9 {
    width: 75%;
  }
}

@media screen and (min-width: 600px) {
  .col-10 {
    width: 83.33333%;
  }
}

@media screen and (min-width: 600px) {
  .col-11 {
    width: 91.66667%;
  }
}

@media screen and (min-width: 600px) {
  .col-12 {
    width: 100%;
  }
}

section {
  margin: 5em auto;
}

/*
 * Modules
 */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0 none;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 2em 4em;
  margin-bottom: 0.5em;
  background-color: #1f5d56;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #133632;
}

.button:focus,
.button:active,
button:focus,
button:active,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="button"]:focus,
input[type="button"]:active {
  outline: none;
  box-shadow: 0 0 1px 3px rgba(76, 130, 246, 0.5);
}

.download {
  margin: 2em 0 15em 0;
  background: none;
  border: 2px solid #01B2EA;
}

.download:hover {
  background: rgba(1, 179, 233, 0.5);
}

.wrapper {
  margin: 2em 0;
  padding: 2em 0;
}

.square {
  padding: 2em;
}

a, a:visited, a:hover, a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  -webkit-transition: 0.5s color ease;
          transition: 0.5s color ease;
  text-decoration: none;
  color: #1f5d56;
}

a.before:before, a.after:after {
  content: "";
  -webkit-transition: 0.5s all ease;
          transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

a.before:before {
  top: -0.25em;
}

a.after:after {
  bottom: -0.25em;
}

a.before:before, a.after:after {
  height: 1px;
  width: 0;
  background: #9acc0b;
}

.square {
  margin-left: -0.4em;
  position: relative;
  overflow: hidden;
}

.square a {
  position: static;
  padding: 0.2em 0.4em;
}

.square:before, .square:after {
  content: "";
  box-sizing: border-box;
  -webkit-transition: 0.25s all ease;
          transition: 0.25s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 1px;
  width: 0.35rem;
  height: 0;
  background: #9acc0b;
}

.square:before {
  left: 0;
  bottom: -0.2em;
}

.square:after {
  right: 0;
  top: -0.2em;
}

.square a:before {
  left: 0;
  -webkit-transition: 0.25s all ease;
          transition: 0.25s all ease;
}

.square a:after {
  right: 0;
  -webkit-transition: 0.25s all ease;
          transition: 0.25s all ease;
}

.square:hover:before, .square:hover:after {
  height: -webkit-calc(100% + 0.4em);
  height: calc(100% + 0.4em);
}

.square:hover a:before, .square:hover a:after {
  width: 100%;
}

pre {
  max-width: 960px;
  margin: 3em 0;
  background: black;
  white-space: pre-wrap;
}

.link {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: 0 none;
  color: red;
  margin: 2em 0;
}

ul li {
  list-style: none;
}

/*
 * Pages
 */
.grid-ex .row {
  margin-bottom: 1em;
}

.grid-ex [class^='col-'] {
  min-height: 3em;
  text-align: center;
  background-color: #786e6e;
  padding: 0 1em 0.75em 0;
}

.form-example form {
  margin: 2em auto 0;
  padding: 0 1em;
}

.form-example form input,
.form-example form textarea {
  margin: 0 0 0.5em;
}

.text-ex p {
  margin-top: 2em;
}

ul {
  margin: 2em auto;
}

h2.topic {
  margin: 3em 0 2em 0;
  color: white;
  letter-spacing: 0.0625em;
}

/*# sourceMappingURL=style.css.map */